// Заголовки, загальні БЕМ блоки та інше...

.block-header {
   display: grid;
   gap: toRem(24);

   &--center {
      text-align: center;
   }

   &--inline {
      grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613));
      justify-content: space-between;
      align-items: end;
      gap: toRem(24);
   }

   &__title {
      color: $darkColor;
      @include adaptiveValue("font-size", 52, 24);
      font-weight: 700;
      line-height: 1.23;

      &--big {
         @include adaptiveValue("font-size", 64, 32);
      }

      &--white {
         color: #fff;
      }
   }

   &__text p {
      font-weight: 400;
      line-height: 1.55;
   }
}

// <div class="block-header"><h2 class="block-header__title"></h2><div class="block-header__text"><p></p></div></div>
