//====================================================================================================
.header {
   background-color: $bgColor;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;

   &__container {
      min-height: toRem(80);
      display: grid;
      grid-template-columns: toRem(170) 1fr toRem(170);
      align-items: center;
      gap: toRem(15);
      padding-top: toRem(10);
      padding-bottom: toRem(10);

      @media (max-width:$mobile){
         grid-template-columns: auto auto;
         justify-content: space-between;
         min-height: toRem(55);
      }
   }

   &__logo {
      position: relative;
      z-index: 5;
   }

   &__menu {}

   &__schedule {
      justify-self: end;
      color: #fff;
      font-weight: 700;
      line-height: 1.33;

      display: flex;
      align-items: center;
      gap: toRem(10);

      &::before {
         content: '';
         flex: 0 0 toRem(12);
         width: 12px;
         height: 12px;
         border-radius: 50%;
         background-color: #FF5E5E;
      }

      @media (max-width:$mobile){
         justify-content: center;
      }
   }
}

.menu {
   justify-self: center;

   &__icon {}

   &__body {
      @media (max-width:$mobile){
         padding: toRem(100) toRem(15) toRem(25) toRem(15);
         position: fixed;
         width: 100%;
         height: 100%;
         row-gap: toRem(40);
         top: 0;
         left: 100%;
         overflow: auto;
         display: flex;
         flex-direction: column;
         background-color: $bgColorSemi;
         transition: left .5s;

         &::before {
            content: '';
            position: fixed; 
            width: 100%;
            height: toRem(55);
            top: 0;
            left: 100%;
            z-index: 2;
            background-color: $bgColor;
            transition: left .5s;
         }

         .menu-open & {
            left: 0;

            &::before {
               left: 0;
            }
         }
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: toRem(3);
      @include adaptiveValue("column-gap", 57, 15, 0, $containerWidth, 768);

      @media (max-width:$mobile){
         flex: 1 1 auto;
         font-size: toRem(24);
         align-items: flex-end;
         flex-direction: column;
         row-gap: toRem(28);
      }
   }

   &__item {}

   &__link {
      color: #fff;
      font-weight: 700;
      line-height: 1.33;

      @media (any-hover: hover){
         &:hover{
            text-decoration: underline;
         }
      }
   }
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}